<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Change Username and Password</h2>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                You will be logged out on successful username and password change!
            </div>
            <form method="post" th:action="@{'/users/' + ${userId} + '/change-username'}"
                  th:object="${userChangeUsernameBindingModel}" class="form-horizontal">
                <div class="form-group row" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                    <label class="col-sm-3 col-form-label" for="username">New Username:</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{username}" class="form-control" id="username"
                               placeholder="New Username">
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                             class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group row" th:classappend="${#fields.hasErrors('oldPassword')}? 'has-error'">
                    <label class="col-sm-3 col-form-label" for="oldPassword">Old Password:</label>
                    <div class="col-sm-9">
                        <input type="password" th:field="*{oldPassword}" class="form-control" id="oldPassword"
                               placeholder="Old Password">
                        <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"
                             class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group row" th:classappend="${#fields.hasErrors('newPassword')}? 'has-error'">
                    <label class="col-sm-3 col-form-label" for="newPassword">New Password:</label>
                    <div class="col-sm-9">
                        <input type="password" th:field="*{newPassword}" class="form-control" id="newPassword"
                               placeholder="New Password">
                        <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                             class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group row"
                     th:classappend="${#fields.hasErrors('confirmNewPassword')}? 'has-error'">
                    <label class="col-sm-3 col-form-label" for="confirmNewPassword">Confirm New Password:</label>
                    <div class="col-sm-9">
                        <input type="password" th:field="*{confirmNewPassword}" class="form-control"
                               id="confirmNewPassword" placeholder="Confirm New Password">
                        <div th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"
                             class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>